<p>inicio works!</p>
<h2>Perfil</h2>
  <div class="row">
    <div class="button-container">
        <img class="rounded-image" src="https://source.unsplash.com/150x150/?man" alt="Imagen de perfil">
    </div>
    <div class="round-button">427 publicaciones</div>
    <div class="round-button"> 440 seguidores</div>
    <div class="round-button"> 430 seguidos</div>
  </div>
  <div class="row">
    <div class="button-container">
        <p>Mensaje del perfil</p>
    </div>

    <figure>
      <img class="rounded-image2" src="https://source.unsplash.com/150x150/?girl" alt="Imagen de perfil 1">
      <figcaption class="caption-container">
        <p class="caption-text">Chica</p>
      </figcaption>
    </figure>

    <figure>
      <img class="rounded-image2" src="https://source.unsplash.com/150x150/?dog" alt="Imagen de perfil 2">
      <figcaption class="caption-container">
        <p class="caption-text">Perro</p>
      </figcaption>
    </figure>

    <figure>
      <img class="rounded-image2" src="https://source.unsplash.com/150x150/?cat" alt="Imagen de perfil 3">
      <figcaption class="caption-container">
        <p class="caption-text">Gato</p>
      </figcaption>
    </figure>
  </div>